
body {    
    background-size: auto ;
    background-repeat: no-repeat;    
}
h1 {    
    color: rgb(0, 0, 0) ;
    font-family: 'Dancing Script', cursive;
    font-size: 3.8em;
    animation-duration: 0.3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
p {
    color: rgb(0, 0, 0) ;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#pasta {
    background-image:url(https://bit.ly/37PQ3fL);
}
#noodles {
    background-image: url(https://bit.ly/2Na4Uty);
}
#ramen {
    background-image: url(https://bit.ly/2R0XWbI);
}

#ramenh1 {
    color:white;
}
#ramenp {
    color: white;
}
#ramenp1 {
    color: white;
}
#ramenp2 {
    color: white;
}